@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
.head{
	height: 64px;
	width: 100vw;
	background-color: #eee;
	position: fixed;
	z-index: 999;
}
.headBtn {
	height: calc(100% - 3px);
	width: 64px;
	text-align: center;
	border-bottom: red solid 3px;	
}